
  
<ion-content>
  <div class="flex-center">  
   <img src = "assets/mmmlogo.png"  width="135.5"  height="96">
    <form [formGroup]="form">
      <ion-card class="border" slot="start" >
        <ion-card-header class="pad20" >
          <ion-card-title color="secondary" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:30px" class="center">Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="borda">
            <ion-icon name="person" size="small" slot="start"></ion-icon>
            <ion-input type = "email" formControlName="email" placeholder="Digite seu e-mail"></ion-input>
          </ion-item >
          <ion-item class="borda" >
            <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>
            <ion-input type = "password" formControlName="senha" placeholder="Digite sua senha"></ion-input>
          </ion-item>
          <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email').valid">Esqueceu email ou senha</ion-button>
          <ion-button color="secondary" size ="full" (click)="login()" [disabled]="!form.valid" shape="round">LOGIN</ion-button>
          <ion-button color="secondary" fill="clear" size="full" (click)="register()" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:13px">Registro</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>

