<ion-content> 
  <img src = "assets/mmmlogo.png"  width="162.6"  height="115.2">
  <ion-grid>    
    <form [formGroup]="form">
      <ion-row>
        <ion-col>
          <ion-label class="titulo" color="secondary" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Login</ion-label>
          <ion-item>
            <ion-icon name="person" size="small" slot="start"></ion-icon>
            <ion-input type = "email" formControlName="email" placeholder="Digite seu e-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>
            <ion-input type = "password" formControlName="senha" placeholder="Digite sua senha"></ion-input>
          </ion-item>
          <ion-button color="dark" fill="clear"  [disabled]="!form.get('email').valid">
            <ion-label>Esqueceu email ou senha</ion-label>
          </ion-button>      
          <ion-button color="secondary" (click)="login()" [disabled]="!form.valid" shape="round">
            <ion-label>LOGIN</ion-label>
          </ion-button>
          <ion-button color="secondary" fill="clear"  (click)="register()" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <ion-label>Registro</ion-label>
          </ion-button>        
        </ion-col>        
     </ion-row>
    </form>
  </ion-grid>   

</ion-content>


    
      