
  
<ion-content>
  <div class="flex-center">  
   <img src = "assets/mmmlogo.png"  width="135.5"  height="96">
    <form [formGroup]="form">
      <ion-card class="border" slot="start" >
        <ion-card-header class="pad20" >
          <ion-card-title color="success" style="font-size:30px">Login</ion-card-title>
        </ion-card-header>
        <ion-card-content >
          <ion-item>
            <ion-label position = "floating" style = "font-family:'Times New Roman', Times, serif">Email</ion-label >
            <ion-input type = "email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position = "floating" style = "font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Senha</ion-label>
            <ion-input type = "senha" formControlName="senha"></ion-input>
          </ion-item>
          <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email').valid">Esqueceu email ou senha</ion-button>
          <ion-button color="primary" size ="full" (click)="login()" [disabled]="!form.valid">Login</ion-button>
          <ion-button color="primary" fill="clear" size="full" (click)="register()">Registro</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
