<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 24px">Grãos</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-item class="borda">
         <iont-label>
           Grãos
         </iont-label>  
         <ion-select placeholder="selecione" slot="end"  >
           <ion-select-option *ngFor="let product of productList">
             {{product.productName}}
           </ion-select-option>
         </ion-select>
       </ion-item>
     </ion-col>
   </ion-row>
  
  
    <ion-row>
      <ion-col>
        <ion-item class="borda"> 
        <ion-label>Quantidade</ion-label>          
          <ion-input type="number" pattern="\d*" step="10"></ion-input>        
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="borda">      
          <ion-select placeholder="unidade" >
            <ion-select-option *ngFor="let units of unitList">
              {{units.unitName}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item button="true" id="open-date-input" class="borda">
          <ion-label>Data</ion-label>
          <ion-text slot="end">{{ dateValue }}</ion-text>
          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime
                presentation="date"
                (ionChange)="dateValue = formatDate(popoverDatetime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button size="full" color="secondary" shape="round">
          <ion-label>CONFIRMAR</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
