<ion-header [translucent]="true">

  <ion-toolbar color="secondary">

    <ion-title  class="user" color="light">
      Escolha o tipo de alimento
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

    <ion-item class="border"  routerLink="/produtos/frutas" detail >
     <ion-label color="secondary">Frutas</ion-label>
    </ion-item>
 

<ion-item class="border" lines="none" routerLink="/produtos/verduras" detail>
  <ion-label color="secondary">Verduras</ion-label>
  </ion-item>

 
<ion-item class="border" lines="none" routerLink="/produtos/legumes" detail>
  <ion-label color="secondary">Legumes</ion-label>
  </ion-item>

 
<ion-item class="border" lines="none" routerLink="/produtos/graos" detail>
  <ion-label color="secondary">Grãos</ion-label>
  </ion-item>


 <ion-item class="border" lines="none" routerLink="/produtos/raizes" detail>
  <ion-label color="secondary">Raízes</ion-label>
 </ion-item>






</ion-content>
