ion-content {
    --background: url('../../assets/cenoura.jpg/') no-repeat center center / cover !important; 
    display: grid;
}
  
.border {    
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px  rgba(56, 134, 30, 0.798);
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 145px;
    width: 145px;
}
    
 .toolbarc{
    text-align: center;
 }

 ion-item::part(native) {        
    height: 145px;
    flex-grow: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-inline-start:0;
    padding-top: 15px !important;    
}

ion-label {    
    text-align: center;
    margin-top: 15px;
}

ion-item {     
    --inner-padding-end:0; 
 }

ion-col {
  display: grid;
  justify-content: center;
  gap: 4px;
  align-content: center;
  grid-auto-flow: column;
  height: 175px;
}

img {
    height: 80px;
    width: 80px;
}
