ion-content {
    --background: url('../../assets/cenoura.jpg/') no-repeat center center / cover !important;
    ;
}

.user {
      font-size: 17px;
  }
  
.border {
    
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px  rgba(128, 128, 128, 0.863);
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    vertical-align: middle;
    }
    
 .final{
     text-align: center;
 }