<ion-header [translucent]="true">

  <ion-toolbar color="secondary">

    <ion-title  class="user" color="light">
      Escolha o tipo de alimento
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

    <ion-item class="border" lines="none" detail routerLink="/frutas">
     <ion-label color="secondary">Frutas</ion-label>
    </ion-item>
 

<ion-item class="border" lines="none" detail routerLink="/verduras">
  <ion-label color="secondary">Verduras</ion-label>
  </ion-item>

 
<ion-item class="border" lines="none" detail routerLink="/legumes">
  <ion-label color="secondary">Legumes</ion-label>
  </ion-item>

 
<ion-item class="border" lines="none" detail routerLink="/graos">
  <ion-label color="secondary">Grãos</ion-label>
  </ion-item>


 <ion-item class="border" lines="none" detail routerLink="/raizes">
  <ion-label color="secondary">Raízes</ion-label>
 </ion-item>






</ion-content>
