<ion-header [translucent]="true">

  <ion-toolbar><div align="center">
    <ion-title color="primary">
      Perfil
    </ion-title>
    </div>
     
    
 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="botaoclick()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
        
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button (click)="facebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="instagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>  

      <ion-fab-button (click)="linkedin()">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="site()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
 
    </ion-fab-list>
  </ion-fab>


  <ion-list class="main-header" >
    <div align="center">
     <ion-avatar>
       <img src="assets/foto.png">
     </ion-avatar> 
    </div>
     <ion-item>
       <ion-label>
         <ion-text color="primary">Malu</ion-text>
       </ion-label>
      </ion-item>
  </ion-list>

<ion-list>
  
  <ion-item>
    <ion-label>
      <ion-text color="primary">E-mail</ion-text>
      <p><ion-text color="primary">a</ion-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-text color="primary">Endereço</ion-text>
      <p><ion-text color="primary">l</ion-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-text color="primary">Telefone</ion-text>
      <p><ion-text color="primary">u</ion-text></p>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>

