ion-content {
  --background: #a1ff81;
}



.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 22px;

  }
  

.cabeça {
  border-radius: 0 0 50% 50%;
  box-shadow: 2px 2px 7px  rgba(96, 96, 96, 0.912);
  margin-top: -10px;
  margin-right: -5px;
  margin-left: -5px;
  background-color: #018c38;
   } 

 .avatar {
  width:100% !important;  
  height : 100% !important;  
  max-width: 120px !important;  
  max-height: 120px !important;
  margin-top: 25px;
}

.verde {
  --background: 23ad5a;
}


.final {
  text-align: center;

}

.border {
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px  rgba(128, 128, 128, 0.863);
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    --background: #018c38;
    background-color: #018c38;
    }

.bcolor{
  color: #0eb852;
}    

.mgrid{
  margin-top: 20px;
}
    
    