<ion-header [translucent]="true">

  <ion-toolbar color="secondary">
    <ion-title color="light" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      Perfil
    </ion-title>




  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-content padding>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="botaoclick()" color="secondary">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>

      </ion-fab-button>
      <ion-fab-list side="top">

        <ion-fab-button (click)="facebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>

        <ion-fab-button (click)="instagram()">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>

        <ion-fab-button (click)="linkedin()">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-fab-button>

        <ion-fab-button (click)="site()">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>

      </ion-fab-list>
    </ion-fab>


    <ion-grid class="cabeça">
      <div align="center">
        <ion-avatar class="avatar">
          <img src="assets/foti.jpg">
        </ion-avatar>
      </div>

      <ion-item color="#0000ffff" lines="none">
        <ion-label>
          <ion-text class="center" color="light"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Nome</ion-text>
        </ion-label>
      </ion-item>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="border">
            <ion-label class="final">
              <ion-text color="primary" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                E-mail: </ion-text>
              <ion-text color="primary"> maluzi@gmail.com</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="border">
            <ion-label class="final">
              <ion-text color="primary" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                Endereço: </ion-text>
              <ion-text color="primary"> Rua da Hora,302</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="border">
            <ion-label class="final">
              <ion-text color="primary" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                Telefone: </ion-text>
              <ion-text color="primary">985632-9545</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
      
        <ion-col>
          <ion-list class="border">
            <ion-item lines="full">
              <ion-label class="final">
                <ion-text color="primary"
                  style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Produtos oferecidos:
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let p of productList" lines="none">
              <ion-label class="final">
                <ion-text color="primary">{{p.product}}</ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-content>