<ion-header [translucent]="true">

  <ion-toolbar color="secondary">
    <ion-title class="user" color="light">
      Perfil
    </ion-title>
  
     
    
 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="botaoclick()" color="secondary">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="share" ></ion-icon>
        
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button (click)="facebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="instagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>  

      <ion-fab-button (click)="linkedin()">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="site()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
 
    </ion-fab-list>
  </ion-fab>


  <ion-grid class="cabeça" >
    <div align="center" class="avatar">
     <ion-avatar>
      <img src="assets/foti.jpg">
     </ion-avatar> 
    </div>
          
    <ion-item color="#0000ffff" lines="none">
       <ion-label>
         <ion-text  class="center" color="light">Nome</ion-text>
       </ion-label>
      </ion-item>
    </ion-grid>

<ion-list>
<ion-card class="border"> 
  <ion-card-content padding >
  <ion-item >
    <ion-label >
      <ion-text color="primary" >E-mail</ion-text>
      <p><ion-text color="primary">a</ion-text></p>
    </ion-label>
  </ion-item>
</ion-card-content> 
</ion-card>
<ion-card class="border">
<ion-card-content padding>
  <ion-item>
    <ion-label>
      <ion-text color="primary">Endereço</ion-text>
      <p><ion-text color="primary">l</ion-text></p>
    </ion-label>
  </ion-item>
</ion-card-content>
</ion-card>
<ion-card class="border">
<ion-card-content padding>
  <ion-item>
    <ion-label>
      <ion-text color="primary">Telefone</ion-text>
      <p><ion-text color="primary">u</ion-text></p>
    </ion-label>
  </ion-item>
</ion-card-content>
</ion-card>


</ion-list>


</ion-content>

