ion-content {
  --background: #a1ff81;
}



.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size:6vw !important;
  }
  

.cabeça {
  border-radius: 0 0 25% 25%;
  box-shadow: 0.2rem 0.2rem 0.5rem  rgba(56, 134, 30, 0.798);
  margin-top: -4%; 
  background-color: #018c38;
   } 

 .avatar {

  margin-top: 8%;
  height: 34%; 
  width: 34%; 
  object-fit: contain;
}

.verde {
  --background: #018c38;
  align-items: center;
}


.centert {
  text-align: center;
}

.toolbarc {
  text-align: center;
  font-size: min(6.7vw,50px) !important;
}

.border {
    border-radius: 1.5rem !important;
    box-shadow: 0.1rem 0.1rem 0.6rem  rgba(56, 134, 30, 0.796);
    margin-left: 3%;
    margin-right: 3%;
    vertical-align: middle;
    --background: #018c38;
    background-color: #018c38;
    }

.bcolor{
  color: #0eb852;
}    

.mgrid{
  margin-top: 2%;
  height: 100%;
}

ion-row{
height: max-content;
}

ion-col{
  height: max-content;
}
ion-label {
  font-size:5vw !important;
}
ion-toolbar{
padding:2%;
--min-height: 41px !important;
}

.vertical{
  bottom:65px;
}

