<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title color="primary">
      Produtos requisitados
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Muda Meu Mundo - compre bem e faça o bem</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
