<ion-header [translucent]="true" color="secondary">
  <ion-toolbar color="secondary">
    <ion-title class="user "color="light" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      Produtos requisitados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title class="user" color="light" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        Produtos requisitados
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
</ion-content>

</ion-content>
