ion-content {
    --background: url('../../../assets/cenoura.jpg/') no-repeat center center / cover !important;
}
.center {
    text-align: center;
    }
 
    .borda {
        border-radius: 20px !important;
    }


    