<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Que tipo de alimentos você disponibiliza?</ion-card-title>
      <ion-item color="#0000ffff">
        <ion-label color="tertiary">Frutas</ion-label>
        <ion-toggle slot="end" unchecked></ion-toggle>
      </ion-item>
      <ion-item color="#0000ffff">
        <ion-label color="tertiary">Verduras</ion-label>
        <ion-toggle slot="end" unchecked></ion-toggle>
      </ion-item>
      <ion-item color="#0000ffff">
        <ion-label color="tertiary">Legumes</ion-label>
        <ion-toggle slot="end" unchecked></ion-toggle>
      </ion-item>>
    </ion-card-header>
    
  </ion-card>
  <ion-button size="full" color="primary" (click)="register()">Registrar</ion-button>
</ion-content>
