
  
    
  


<ion-content>
  <ion-card class="border">
    <ion-title class="ct" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:25px" color="secondary">Crie sua conta</ion-title>
    <ion-card-header>     
      <ion-item lines="none" color="#0000ffff" >
        <div class="wrapper">
          <ion-label color="light" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Foto de perfil</ion-label >
          <ion-avatar>
            <img src="assets/foti.jpg">
            <ion-button color="light" class="camera">
              <ion-icon slot="icon-only" name="camera-outline" color="medium"></ion-icon>
            </ion-button>
          </ion-avatar>   
        </div>
      </ion-item>        
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Nome completo:</ion-label >
        <ion-input class="borda" placeholder="digite seu nome completo"></ion-input>
      </ion-item>    
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Email:</ion-label >
        <ion-input  class="borda" fill="clear" placeholder="digite seu e-mail" type = "email"></ion-input>
      </ion-item>     
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Senha:</ion-label >
        <ion-input class="borda" placeholder="digite sua senha" type = "password" ></ion-input>
      </ion-item>      
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Confirmar Senha</ion-label >
        <ion-input class="borda" placeholder="confirme sua senha" type = "password" ></ion-input>
      </ion-item>     
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Endereço:</ion-label >
        <ion-input class="borda" placeholder="digite seu endereço"  ></ion-input>
      </ion-item>
      <ion-item lines="none" color="#0000ffff">
        <ion-label color="light" position = "stacked" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Telefone com ddd:</ion-label >
        <ion-input class="borda" type = "number" placeholder="digite seu telefone com ddd"></ion-input>
      </ion-item>   
      <ion-card-title color="light" class="ct" style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:18px" >Que tipo de alimentos você disponibiliza?</ion-card-title>
      <ion-item color="#0000ffff" *ngFor="let p of productList" lines="none">
        <ion-label color="secondary">{{p.product}}</ion-label>
        <ion-toggle slot="end" unchecked ></ion-toggle>
      </ion-item>      
    </ion-card-header>    
  </ion-card>
  <ion-button size="full" color="secondary" (click)="register()" shape="round">Registrar</ion-button>
</ion-content>
