ion-content {
    --background: url('../../assets/cenoura.jpg/') no-repeat center center / cover !important;
}


ion-button[color="dark"]{
    text-transform: initial;
    margin:10px;
}


.border {
    background-color: #60b80d6d;
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px 2px gray;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
    }

ion-card-header { position: relative }
.center-right{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    margin-top: 10px;
    }

.pad20{
    padding: 25px;

}

.center{
    left: 700px;
}

.borda{
    
    border-bottom-style: solid;
    border-bottom-color: #337a246b;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.ct{
    margin: 10px;
    text-align: center;
}